.toolbar {
    width: 95%;
    max-width: 1000px;
    margin: 20px auto 0;
    display: flex;
    justify-content: end;
    position: relative;
    background-color: #202028;
}

.actionMenuButton {
    font-size: 1.3rem;
    cursor: pointer;
    transition: .3s;
}

.actionMenuButton:hover {
    transform: scale(1.2);
}

.itemsMenu {
    position: absolute;
    top: calc(100% + 10px);
    right: 0;
    width: 200px;
    background-color: #f0f0f0;
    border-radius: 10px;
    overflow: hidden;
    transition: .4s;
    padding: 0 10px;
}

.itemMenu {
    padding: 12px 4px;
    cursor: pointer;
    font-weight: bold;
    margin: 5px 0;
    border-radius: 8px;
    transition: .2s;
    font-size: 1rem;
}

.itemMenu:first-child {
    margin-top: 15px;
}

.itemMenu:last-child {
    margin-bottom: 15px;
}

.itemMenu:hover {
    background-color: #5088b82a;
}