.searchBox {
    width: 95%;
    max-width: 500px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    font-size: 1rem;
    border-radius: 50px;
    padding: 0rem .6rem;
    background: #f0f0f0;
    border: 3px solid #5088b8;
}

.searchBox input {
    height: 40px;
    padding: 8px 12px;
    outline: none;
    border: none;
    width: 100%;
    background: transparent;
}

.searchBox button {
    border-radius: 50%;
    border: none;
    color: #5088b8;
    font-size: 1rem;
}