.searchBox {
    width: 95%;
    max-width: 500px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    font-size: 1rem;
    border-radius: 50px;
    padding: .4rem;
    background: #f0f0f0;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.searchBox input {
    height: 40px;
    padding: 8px 12px;
    outline: none;
    border: none;
    width: 100%;
    background: transparent;
}

.searchBox button {
    min-width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    background: #5088b8;
    color: #f0f0f0;
    font-size: 1rem;
    transition: .3s;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.searchBox button:hover {
    transform: scale(1.05);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}