.container{
    width: 95%;
    max-width: 500px;
    border: 3px solid #5088b8;
    height: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #5088b8;
    flex-direction: column;
    color: #f0f0f0;

}

.header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 8px;
    background-color: #5088b8;
    border-bottom: 3px solid #f0f0f0;
}

.header i{
    cursor: pointer;
    transition: .2s;
}

.information{
    color: #f0f0f0;
    background-color: #5088b8;
    width: 100%;
}

.information li{
    margin: auto;
    width: 90%;
    padding: 10px 5px;
    border-bottom: 1px solid #f0f0f0;
    display: flex;
    gap: 5px;
    /* justify-content: space-between; */
    /* grid-template-columns: 100px 1fr; */
}

.information li:last-child{
    border: none;
}

.footer{
    color: #bb2124;
    background-color: #5088b8;
    text-align: right;
    width: 100%;
    padding: 12px 8px;
    border-top: 3px solid #f0f0f0;
}

.footer button{
    background: none;
    border: none;
    cursor: pointer;
    transition: .2s;
}

.footer button:hover, .header i:hover{
    transform: scale(1.1);
}

.favorite{
    margin-left: auto;
    margin-top: 10px;
    padding: 0 8px;
    background: none;
    border: none;
    cursor: pointer;
}
.favorite.active{
    color: #f7a31d;
}