.container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(240, 240, 240, 0.1);
    backdrop-filter: blur(10px);
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal{
    width: 95%;
    margin: auto;
    max-width: 600px;
    background-color: #202028;
    padding: 2rem 1.2rem 1rem;
    border-radius: 10px;
    color: #f0f0f0;
}

.modal__title{
    margin-bottom: 20px;
}

.modal__desc{
    line-height: 1.5rem;
}

.modal__btns{
    text-align: right;
    margin-top: 2rem;
}

.modal__button{
    background: none;
    border: none;
    margin-left: 30px;
    cursor: pointer;
}

.modal__button:first-child{
    color: #5088b8;
}

.modal__button:last-child{
    color: #bb2124;
}