.container{
    width: 95%;
    max-width: 500px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 3px solid #5088b8;
    overflow: hidden;
    box-shadow: #5088b8 0px 0px 3px 0px;
    border-radius: 20px;
    padding: 30px 20px;
}

.container::before{
    content: "";
    position: absolute;
    top: -80%;
    right: -50%;
    width: 100%;
    height: 200%;
    background: linear-gradient(90deg,transparent, #5088b88c);
    transform: rotate(-40deg);
}

.form__title{
    color: #5088b8;
}
