.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.container h1{
    font-size: 4rem;
}

.container a i{
    margin-right: 7px;
}

