html {
  font-size: 15px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::selection {
  background-color: #988098;
  color: #e8e8e8;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  height: 100vh;
  height: 100dvh;
  background-color: #202028;
  color: #5088b8;
}

body::before {
  content: "";
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
  background-color: rgb(0, 0, 0);
  width: .55rem;
  z-index: -2;
}

body::after {
  content: "";
  position: fixed;
  right: 0;
  bottom: 0;
  transform: scaleX(-1);
  background: url(./assets/images/stitch_bg.png) bottom left / contain no-repeat;
  width: 10rem;
  height: 10rem;
  z-index: -1;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button,
input {
  font-size: inherit;
  color: inherit
}

@media (min-width: 480px) {
  html {
    font-size: 16px;
  }
}

@media (min-width: 768px) {
  html {
    font-size: 18px;
  }
}